{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/tw_output/output.css' %}">
    
    <title>{% block title %}{% endblock %} | BG_Tracker</title>
    

</head>
<body>




{% block temp %}{% endblock %}


<script src="{% static 'js/flowbite.js' %}"></script>
<script src="https://kit.fontawesome.com/4eb2fc2c57.js" crossorigin="anonymous"></script>
</body>

</html>