{% extends 'core/dashboard.html' %}
{% load static %}

{% block title %}Add Stock{% endblock %}

{% block instock %}
    {{ instock }}
{% endblock %}

{% block sold %}
    {{ sold }}
{% endblock %}

{% block content %}



    <div class="p-4 sm:ml-64">
        <div class="p-4 grid items-center justify-center border-2 border-green-200 border-dashed rounded-lg dark:border-gray-700">
           <div class="w-80 mb-4">


  
                 <h1 class="text-xl uppercase font-bold leading-tight tracking-tight text-green-900 md:text-2xl dark:text-white">
                    Add a category
                </h1>

                <form class="space-y-4 md:space-y-6" method="POST" action=".">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" name="save" class="w-full text-blue-900 bg-green-300 hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Save</button>

                    <button type="submit" name="save_and_add_another" class="w-full text-blue-900 bg-green-200 hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Save and add another</button>

                </form>



              
           </div>
        </div>


        <div class="p-4 border-2 border-green-200 border-dashed rounded-lg dark:border-gray-700">
            <div class="w-full mb-4">
                <ul class="grid grid-cols-2 lg:grid-cols-6 gap-4">
                    {% for categories in category %}
                    <li class="bg-gray-100 px-2">
                        
                            {{ categories.name }}
                        
                    </li>
                    {% endfor %}
                </ul>

   
 
 
 
               
            </div>
         </div>

     </div>
              
    
{% endblock %}