{% extends 'core/dashboard.html' %}
{% load static %}

{% block title %}Add Stock{% endblock %}

{% block instock %}
    {{ instock }}
{% endblock %}

{% block sold %}
    {{ sold }}
{% endblock %}

{% block content %}


<div class="p-4 sm:ml-64">
    <div class="p-4 border-2 border-green-200 border-dashed rounded-lg dark:border-gray-700">
       <div class="grid mb-4">
            {% csrf_token %}
            <div class="grid justify-end lg:w-1/2">
               <a href="">
                  <h1 class="flex text-blue-800 font-medium text-lg px-2 bg-green-200 border rounded-lg">
                     <img src="{% static 'img/add-svgrepo-com.svg' %}" alt="plus" class="w-7 h-7">
                     Add to stock or sell
                  </h1>
               </a>
            </div>
          <div class="flex justify-center w-full lg:w-1/2 rounded bg-gray-100 pb-4 dark:bg-gray-800">

            <ul class="w-full px-2">
               <li class="py-3 text-center w-full">
                  <h1 class="text-lg font-bold text-blue-800">
                     Sold items
                  </h1>
               </li>
               {%if user.is_authenticated %}
               {% for item in sold_items %}
                  <li class="bg-gray-200 mb-1 py-2 px-2 shadow shaddow-2xl shadow-gray-200 border border-gray-300">
                     {{ item }}
                  </li>

               {% endfor %}
               {% endif %}
            </ul>
             
             

             
          </div>
          
          
       </div>
    </div>
 </div>







{% endblock %}