{% extends 'core/dashboard.html' %}
{% load static %}

{% block title %}Add Stock{% endblock %}

{% block instock %}
    {{ instock }}
{% endblock %}

{% block sold %}
    {{ sold }}
{% endblock %}

{% block content %}


<div class="p-4 sm:ml-64">
    <div class="p-4 border-2 border-green-200 border-dashed rounded-lg dark:border-gray-700">
       <div class="grid grid-cols-2 gap-1 mb-4">
            {% csrf_token %}
           
          <div class="flex items-center justify-between h-24 lg:w-1/2 rounded bg-brightRedSupLight dark:bg-gray-800">
            <ul>
               <!-- {%if user.is_authenticated %} -->
                  <li>
                     {{ sold_items }}
                  </li>
               <!-- {% endif %} -->
            </ul>
             
             

             
          </div>
          
          
       </div>
    </div>
 </div>







{% endblock %}